<%= form_for(@tester) do |f| %>
  <% if @tester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tester.errors.count, "error") %> prohibited this tester from being saved:</h2>

      <ul>
      <% @tester.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Firstname %><br />
    <%= f.text_field :Firstname %>
  </div>
  <div class="field">
    <%= f.label :Lastname %><br />
    <%= f.text_field :Lastname %>
  </div>
  <div class="field">
    <%= f.label :Address %><br />
    <%= f.text_area :Address, :rows => 4 %>
  </div>
  <div class="actions">
    <%= f.submit value = "submit" %>
  </div>
<% end %>
