<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @tester.Firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @tester.Lastname %>
</p>

<p>
  <b>Address:</b>
  <%= @tester.Address %>
</p>

<p>
  <b>Score:</b>
  <%= @tester.score %>
</p>


<%= link_to 'Edit', edit_tester_path(@tester) %> |
<%= link_to 'Back', testers_path %>
